* {
	border-top: 10px solid #1d05f3d7;
}

body {
	color: #444;
	font-family: sans-serif;

	border-top: 10px solid #1d05f3d7;
}

h1,
h2,
h3 {
	color: #1d05f3d7;
}

h1 {
	font-size: 26px;

	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;

	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;

	line-height: 1.5;
}

li {
	font-size: 20px;
}

/* footer p {
	font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
}

#copyright {
	font-size: 16px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related-post {
	list-style: none;
}

.main-header {
	background-color: #d4d4d4;
}

aside {
	background-color: #d4d4d4;
	border-top: 5px solid #1d05f3d7;
	border-bottom: 5px solid #1d05f3d7;
}

/* body {
	background-color: floralwhite;
} */

/* .first-li {
	font-weight: bold;
} */

li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}

li:nth-child(even) {
	/* color: red; */
}

/* Misconception: this wont work bc p is not the first child of article */
article p:first-child {
	color: red;
}

/* Styling Links */

a:link {
	color: #1d05f3d7;
	text-decoration: none;
}

a:visited {
	color: #1d05f3d7;
}

a:hover {
	color: orangered;
	font-weight: bold;
	text-decoration: underline orange;
}

a:active {
	background-color: black;
	font-style: italic;
}

/* LVHA */

/* Resolving Conflicts */
/* #copyright {
	color: red;
}

.copyright {
	color: blue;
}

.text {
	color: yellow;
}

footer p {
	color: green !important;
} */

nav {
	font-size: 18px;
}
